/*~~WEBSITE TEMPLATE~~*/
/* #region */
/*This has the basic things that most webpages contain*/

body{
    margin: 0%;
}
#everythingbutheader{
    display: grid;
    grid-template-columns: 160px auto;
    column-gap: 2px;
    
    /*background-color: rgba(144, 109, 180, 0.256);*/
}


.header{
    background-color: rgb(48, 46, 63);
    color: white;
    height:45px;
    margin: 0%;
}
.sidebar-container{
    display: grid;
    grid-template-columns: 20px 140px;
    grid-template-rows: 200px;
    column-gap: 15px;
    /*background-color: aquamarine;*/
}

.sidebar{
    align-items: center;
    justify-content: left;
    max-width: 100%;
    box-shadow: 5px 10px #888888;    
    grid-column: 1;
}

.sidebar-text{
    grid-column: 2;
    grid-row: 1;
}


.sidebar-text a:link{
    color: #4299E1;
    text-decoration: none;
}

.sidebar-text a:hover {
    text-decoration: underline;
    color: #3078b3
  }
  .sidebar-text a:visited {
    color: #4299E1;
  }
  
  .sidebar-text a:active {
    text-decoration: underline;
}
.sidebar ul{
    /*text-align: left;*/
    list-style-type: none;

}
.sidebar-images {

    grid-column: 1;
    grid-row: 1;
}
.sidebar-images img{
    height: 20px;
    width: 20px;
}
.notSidebar{
    grid-column: 2;
    /*color: blueviolet;*/
    min-height: 1000px;
    background-color: rgba(237, 237, 237, 0.457);
}

.boxx{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}
h1{
    padding-left: 30px;
}
.container{
    /*background-color: lightgoldenrodyellow;*/
    background-color: rgb(255, 255, 255);
    min-width: 98%;
    border-radius: 7px;
    padding: 10px;
}
/* #endregion */

/*~~LOGIN SCREEN~~*/
/* #region */
#loginboxsinfo{
    display: grid;
    min-height: 100%;
    min-width: 100%;
    grid-template-columns: 0.483fr 0.483fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap:20px;
    padding:20px;
    /*background-color: rgb(19, 243, 34);*/   /*Jus used to check the overall space of the container */
}

label[for=firstName],label[for=lastName],label[for=email],label[for=password],label[for=role]{
    color: rgb(0, 0, 0);
}

#firstName,#lastName,#email,#password,#role{
    margin-top: 20px;
    padding-bottom: 10px;
    padding-right: 260px;
    /*padding-right: 250px;*/
}

#firstName,label[for=firstName]{
    /*margin-top: 20px;*/
    grid-row: 1;
    grid-column: 1;
}


#lastName,label[for=lastName]{
    grid-row: 1;
    grid-column: 2;
}

#email,label[for=email]{
    grid-row: 2;
    grid-column: 1;
}

#password,label[for=password]{
    grid-row: 2;
    grid-column: 2;
}

#role,label[for=role]{
    grid-row: 3;
    grid-column: 1;
}

#savebtn{
    grid-row: 4;
    grid-column: 1,2;
    
    display:flex;
    /*background-color: rgb(166, 201, 189);
    padding-left:20px;
    padding-right: 20px;*/
    background-color: rgba(237, 237, 237, 0.457);
    align-items: center;
    justify-content: right;
    min-width:200%;
    height: 30px;
    padding: 12px;
    padding-top: 1;
    padding-bottom: 1;
}

#save{
    background-color: rgba(64, 64, 220, 0.811);
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
}
/* #endregion */

/*~~DASHBOARD~~*/
/* #region */
    .top{
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        padding-top: 20px;
        padding-right: 40px;
        

        
    }
    .top > button{
        color: white;
        text-decoration: none;
        background-color: #5047de;
        border: none;
        border-radius: 5%;
        font-size: 18px;
       
        height: 40px;
    }

    .top> h1{
        font-size: 30px;
        color: #111520;
    }
    
    .notSidebar{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
    }

    .boxx{
        width:inherit;
    }
    

    ul.nav {
        padding-left: 0px;

    /* text-align: center; */
    }
    ul.nav > li {
        display: inline-table;
        padding: 10px 20px;
        font-size: 18px;
        }
    ul.nav > li >button:hover {
        color: #6f66b0;
        text-decoration: underline;
    }
    ul.nav > li > button {

        font-size: 16px;
        color: #999ba2;
        text-decoration: none;
        background-color: white;
        border: none;
    }

    /* .myTable{
        border-radius: 5%;
        border-collapse: collapse;
        border: none;
        border-width : 0;
        outline: none; 
    }
    .tableheader{
        text-align:left;
        background-color: grey; 
        border-radius: 5%;
    } */

 
    
    th{
        padding-left: 10px;
        text-align:left;
        background-color: #f3f4f6; 
      
    }

    th:first-of-type {
        border-top-left-radius: 10px;
    }
    th:last-of-type {
        border-top-right-radius: 10px;
    }
    tr:last-of-type td:first-of-type {
        border-bottom-left-radius: 10px;
    }
    tr:last-of-type td:last-of-type {
        border-bottom-right-radius: 10px;
    }  
    
/* #endregion */