html{
    height: 120%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 5% 100%;
    margin: auto;  
}

.header{
    display: flex;
    color: white;
    background-color: rgb(48, 46, 63);
    grid-column: 1 / 3;
    align-items: center;
    
}

.header h1{
    margin-left: 18px;
    font-size: 12px;
}

.header i{
    margin-left: 18px;
    font-size: large;
}

.sidebar{
    display: flex;
    flex-direction: column;
    /*background-color: #d3d3d3;*/
    grid-row: 2;
    padding: 20px;
}


.sidebar div{
    margin-top: 25px;
}

.sidebar a{
    text-decoration: solid;
    font-weight: bold;
    color: black;
}

.body h2{
    margin-left: 20px;
    font-size: 32px;
    padding-top: 10px;
}

#head{
    margin: 2rem 4rem 0 5rem;
    display:grid;
    grid-template-columns: 0fr 6fr 1fr 1fr; 
}
#head button{
    margin-top:3rem
}

input[type=submit]{
    background-color: blue;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    padding: .75rem;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    margin-right: 10px;
    float:right;
}
#Assign {
  background-color: green;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  padding: .75rem;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  margin-right: 10px;
}

#SwitchSale{
    background: rgb(255,255,102);
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    padding: .75rem;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

#head span{
    font-size: 15px;
    font-weight: 100;
    display: flex;
}
#head h2{
    margin-bottom: 0.5rem;
}
.container{
    margin: 2rem 0 0 5rem;
    background-color: rgb(255, 255, 255);
    min-width: 90%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    position: relative;
    margin-right: 4rem;
}

.notSidebar{
    grid-column: 2;
    /*color: blueviolet;*/
    min-height: 1000px;
    background-color: rgba(237, 237, 237, 0.457);
}
.container textarea{
    width: 97%;
    height: 300px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid grey;
}
#loginboxsinfo{
    margin:1rem 0 2rem 1rem;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.container div.row{
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2em;
    
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding-top: 10px;
    
}

.container div.row label{
    
} 

.container div.row select{
    width: 100%;
    height: 2.5em;
}

.container div.row div.form-group input{
    width: 100%;
    height: 2em;
}



#loginboxsinfo span{
display:flex;
flex-flow: column wrap;
color: rgba(0, 0, 0, 1);
   }
#loginboxsinfo label{
    color: rgba(0, 0, 0, 0.5);
}
.line {
    margin: 1.5rem 0 0 -0.5rem;
  }
#Notes{
    margin:1rem 0 0 1rem;
}
#Notes span{
    margin-left: -5px;
}

#notes{
    margin: 4rem 0 0 0.5rem;
    overflow: hidden;
}
#buttons{
    text-align: right;
}
#avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1.3rem;
}